infra/*.swp
infra/package-lock.json
infra/__pycache__
infra/.pytest_cache
infra/.env
infra/.venv
infra/*.egg-info

# CDK asset staging directory
infra/.cdk.staging
infra/cdk.out
infra/.aws-sam

backend/.venv

